input {
	width: 90%;
}

.icon-remove {
	float:right;
	display:none;
}

.icon-remove:hover {
	cursor: pointer;
}

.description {
	padding-left: 20px;
}

.footer {
    padding: 20px 0;
    margin:auto;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}
.footer p {
    padding-left: 20px;
    color: #777;
}